if TARGET_STM32_PRIMER

config SYS_BOARD
	string
	default "stm32-primer"

config SYS_VENDOR
	string
	default "raisonance"

config SYS_SOC
	string
	default "stm32f1"

config SYS_CONFIG_NAME
	string
	default "stm32-primer"

endif
